{% extends '::base.html.twig' %}


{% block title %}
    AppBook
{% endblock title %}


{% block stylesheets %}

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/appbook/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
        <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/appbook/css/appbook.css') }}" type="text/css" rel="stylesheet" />

    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />


{% endblock %}


{% block body %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('appbook_index') }}">AppBook</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="{{ (app.request.server.get("REQUEST_URI") == path('appbook_index')) ? 'active' }}"><a href="{{ path('appbook_index') }}">Accueil</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">Sign in</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    {% block maincontent %}
    {% endblock %}

{% endblock %}


{% block javascripts %}


    <script src="{{ asset('bundles/appbook/js/jquery-2.1.4.min.js') }}" type="application/javascript"></script>
    <script src="{{ asset('bundles/appbook/js/bootstrap.min.js') }}" type="application/javascript"></script>
    <script src="{{ asset('bundles/appbook/js/select2.js') }}" type="application/javascript"></script>

    <script src="{{ asset('bundles/appbook/js/appbook.js') }}" type="application/javascript"></script>

{% endblock %}
