{% extends 'AppBookBundle::layout.html.twig' %}

{% block maincontent %}

    <div class="container">
        <div class="starter-template">
            <ul class="nav-buttons">
                <li class="nav-button"><a href="{{ path('appbook_book_add') }}" class="btn btn-custom">Ajouter un Livre</a></li>
                <li class="nav-button"><a href="{{ path('appbook_author_add') }}" class="btn btn-custom">Ajouter un Auteur</a></li>
                <li class="nav-button"><a href="{{ path('appbook_genre_add') }}" class="btn btn-custom">Ajouter un Genre</a></li>
            </ul>
        </div>
        <section class="books">
            <h1>Livres</h1>
            {% if listBooks is empty %}
                <p class="lead">Il n'y a pour le moment aucun livre de disponnible</p>
            {% else %}
                <ul class="books-list">
                    {% set bookTest = "" %}
                    {% for book in listBooks %}
                        <!-- On test la première lettre de chaque livre et si elle diffère de celle d'avant, on l'affiche en gras -->
                        {% if book.title|slice(0,1) != bookTest %}
                            <b>{{ book.title|slice(0,1) }}</b></br>
                        {% endif %}
                        {% set bookTest = book.title|slice(0,1) %}
                        <li class="book-item">
                            {{ book.title }} -
                            {% for genre in book.genres %}
                                {{ genre.genre }}
                            {% endfor %} -
                            {% for author in book.authors %}
                                {{ author.firstName }} {{ author.lastName }}
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </section>

    </div><!-- /.container -->

{% endblock %}
